<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  </head>
<body>

<h2>Account Info</h2>
<ul>
	<tr>
			<div class="card" style="width: 18rem;">
			  <div class="card-body">
			  <h3 class="card-title">Name: <a th:text="${user.name}"></a></h3>
			  <h6 class="card-title">PhoneNumber: <a th:text="${user.phoneNumber}"></a></h6>
			  <h6 class="card-title">Card Number: <a th:text="${user.cardNum}"></a></h6>
			  <h6 class="card-title">Cash Limit: <a th:text="${card.cashLimit}"></a></h6>
			  <h6 class="card-title">creditLimit: <a th:text="${card.creditLimit}"></a></h6>
			  <h6 class="card-title">Past Cash Due: <a th:text="${card.pastCashDue}"></a></h6>
			  <h6 class="card-title">Past Credit Due: <a th:text="${card.pastCreditDue}"></a></h6>
			  <h6 class="card-title">Current Cash Due: <a th:text="${card.currentCashDue}"></a></h6>
			  <h6 class="card-title">Current Credit Due: <a th:text="${card.currentCreditDue}"></a></h6>
			  <h6 class="card-title">Card Status: <a th:text="${card.cardStatus}"></a></h6>
<!-- 			    <a th:href="'/transact/' + ${user.id}" class="btn btn-primary">Do payment</a>
 -->			    <a th:href="'/user/payment/' + ${user.cardNum}" class="btn btn-primary">Do payment</a>
 					<a th:href="'/user/eomp/' + ${user.cardNum}" class="btn btn-primary">Generate Bill</a>
 					<a th:href="'/user/transaction/' + ${user.cardNum}" class="btn btn-primary">Online transaction</a>
 					<a th:href="'/user/withdrawl/'" class="btn btn-primary">withdrawl</a>
 					<a th:href="'/'" class="btn btn-primary">Home</a>
 					<a th:href="'/user/closecard'" class="btn btn-primary">Home</a>
			  </div>
			</div>
			</br>			
	</tr>
</ul>


</body>
</html>