<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  </head>
  <body>
    	<div class="container">
    	
    	
			<form method ="POST" action="/user/applyCreditCard">
			 
			  <div class="form-row">
					    <div class="form-group col-md-6">
					      <label for="name">Name</label>
					      <input type="text" class="form-control" placeholder="Chandra Shekar Rao (KCR)" th:name="firstName">
					    </div>
					  
			  </div>			  
			  
			  <div class="form-row">
					    <div class="form-group col-md-6">
					      <label for="phoneNumber">Contact</label>
					      <input type="text" class="form-control" placeholder="+91 9700100100" th:name="contact">
					    </div>
			  </div>
			  
			  <div class="form-row">
					    <div class="form-group col-md-12">
					      <label for="address"> City : Address</label>
					      <input type="text" class="form-control" placeholder="Hyderabad : Anjani Nilayam, Road No.11, Papireddy Nagar, Jagathgirigutta." th:name="city">
					    </div>
			  </div>
			  <h3> Card details</h3>
			  
			  <div class="form-row">
			  			
			    		<div class="form-group col-md-5">
					    	<label for="cardBin">Card First 6-digits</label>
					     	<input type="text" class="form-control" placeholder="XXXXXX" th:name="cardBin">
					    </div>
					    
					    <div class="form-group col-md-3">
					    	<label for="cardNum">Card last 4-digits</label>
					    	<input type="text" class="form-control" placeholder="XXXX" th:name="cardNum">
					    </div>

					    <div class="form-group col-md-2">
					    <label for="expiryYear">Expiry Year</label>
					      <input type="text" class="form-control" placeholder="XX" th:name="expiryYear">
					    </div>
					    
					    <div class="form-group col-md-2">
					      <label for="expiryMonth">Expiry Month</label>
					      <input type="text" class="form-control" placeholder="XX" th:name="expiryMonth">
					    </div>
					    
					    
			  </div>

			  <div class="form-row">
			    		<div class="form-group col-md-8">
					      <label for="cardHolderName">Card Holder Name</label>
					      <input type="text" class="form-control" placeholder="Name on the card" th:name="cardHolderName">
					    </div>
					    
			    		<div class="form-group col-md-4">
					      <label for="issuer">Card Issuer</label>
					      <input type="text" class="form-control" placeholder="VISA, MasterCard,.." th:name="issuer">
					    </div>
			  </div>
			  
			  <div class="form-row">
			    		<div class="form-group col-md-2">
					      <label for="amount">Amount</label>
					      <input type="text" class="form-control" placeholder="Enter Amount.." th:name="amount">
					    </div>
			  </div>
			  
			  <button type="submit" class="btn btn-primary">Pay</button>
			  

		  </form>
		  
		  <p id ="see"> </p>
    	</div>
    
    <script>
    	var id = "[[${merchant.merchantId}]]";
    </script>
		
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>